.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 200;
	font-size: x-small;
}

.footer ul {
	list-style: none;
	display: flex;
	gap: 8px;
}

@media (prefers-color-scheme: dark) {
	.socialIcon {
		filter: invert(100%);
	}
}

.socialIcon {
	width: 24px;
	height: auto;

	&:hover {
		transform: scale(1.1);
		transition: 0.5s;
	}
}
